## test data 데이터 처리하기
- 단, rows는 제거하지 않는 방법으로 처리하여야 한다.

In [1]:
#라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as spst
import statsmodels.api as sm

import warnings
warnings.filterwarnings(action='ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import * # scaler

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import * 
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.tree import plot_tree
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier, plot_tree

In [27]:
import joblib

In [98]:
data = pd.read_csv('test_dataset_v01.csv')

In [99]:
data.head()

,Unnamed: 0,url_len,url_num_hyphens_dom,url_path_len,url_domain_len,url_hostname_len,url_num_dots,url_num_underscores,url_query_len,url_num_query_para,...,html_num_tags('iframe'),html_num_tags('script'),html_num_tags('embed'),html_num_tags('object'),html_num_tags('div'),html_num_tags('head'),html_num_tags('body'),html_num_tags('form'),html_num_tags('a'),html_num_tags('applet')
0,0,97,0,80.0,17.0,17.0,4,0,0,0,...,0,5.0,0,0,12,1,1,1.0,3.0,0
1,1,37,0,22.0,15.0,15.0,3,1,0,0,...,1,NaN,0,0,158,1,1,NaN,NaN,0
2,2,44,0,NaN,20.0,20.0,3,3,0,0,...,0,6.0,3,3,34,1,1,0.0,136.0,0
3,3,40,0,14.0,26.0,26.0,2,0,0,0,...,0,NaN,0,0,29,1,1,1.0,2.0,0
4,4,43,2,NaN,26.0,26.0,2,0,0,0,...,0,NaN,0,0,41,1,1,NaN,NaN,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2441 non-null   int64
 1   url_len                  2441 non-null   int64
 2   url_num_hyphens_dom      2441 non-null   int64
 3   url_path_len             1975 non-null   float64
 4   url_domain_len           1975 non-null   float64
 5   url_hostname_len         1978 non-null   float64
 6   url_num_dots             2441 non-null   int64
 7   url_num_underscores      2441 non-null   int64
 8   url_query_len            2441 non-null   int64
 9   url_num_query_para       2441 non-null   int64
 10  url_ip_present           2441 non-null   int64
 11  url_entropy              2441 non-null   float64
 12  url_chinese_present      2441 non-null   int64
 13  url_port                 2441 non-null   int64
 14  html_num_tags('iframe')  2441 non-null   int64
 15  html_num_tags('script')  1974 non-null   float64
 16  html_num_tags('embed')   2441 non-null   int64
 17  html_num_tags('object')  2441 non-null   int64
 18  html_num_tags('div')     2441 non-null   int64
 19  html_num_tags('head')    2441 non-null   int64
 20  html_num_tags('body')    2441 non-null   int64
 21  html_num_tags('form')    1974 non-null   float64
 22  html_num_tags('a')       1980 non-null   float64
 23  html_num_tags('applet')  2441 non-null   int64
dtypes: float64(7), int64(17)
memory usage: 457.8 KB

### 결측치 조치

In [5]:
data.isna().sum()

Unnamed: 0                   0
url_len                      0
url_num_hyphens_dom          0
url_path_len               466
url_domain_len             466
url_hostname_len           463
url_num_dots                 0
url_num_underscores          0
url_query_len                0
url_num_query_para           0
url_ip_present               0
url_entropy                  0
url_chinese_present          0
url_port                     0
html_num_tags('iframe')      0
html_num_tags('script')    467
html_num_tags('embed')       0
html_num_tags('object')      0
html_num_tags('div')         0
html_num_tags('head')        0
html_num_tags('body')        0
html_num_tags('form')      467
html_num_tags('a')         461
html_num_tags('applet')      0
dtype: int64

In [6]:
data.loc[data['url_path_len'].isnull()].head(30)

,Unnamed: 0,url_len,url_num_hyphens_dom,url_path_len,url_domain_len,url_hostname_len,url_num_dots,url_num_underscores,url_query_len,url_num_query_para,...,html_num_tags('iframe'),html_num_tags('script'),html_num_tags('embed'),html_num_tags('object'),html_num_tags('div'),html_num_tags('head'),html_num_tags('body'),html_num_tags('form'),html_num_tags('a'),html_num_tags('applet')
2,2,44,0,NaN,20.0,20.0,3,3,0,0,...,0,6.0,3,3,34,1,1,0.0,136.0,0
4,4,43,2,NaN,26.0,26.0,2,0,0,0,...,0,NaN,0,0,41,1,1,NaN,NaN,0
19,19,45,1,NaN,12.0,12.0,4,0,0,0,...,0,0.0,0,0,0,1,1,NaN,NaN,0
21,21,22,1,NaN,NaN,NaN,2,0,0,0,...,1,5.0,0,0,28,1,1,0.0,31.0,0
26,26,33,0,NaN,17.0,17.0,4,0,0,0,...,0,12.0,0,0,37,1,1,0.0,79.0,0
32,32,141,0,NaN,15.0,15.0,6,0,0,0,...,0,0.0,0,0,1,1,1,0.0,NaN,0
33,33,37,0,NaN,22.0,22.0,2,0,0,0,...,0,2.0,0,0,41,1,1,NaN,18.0,0
42,42,73,0,NaN,NaN,14.0,3,1,0,0,...,0,2.0,0,0,0,1,1,NaN,2.0,0
46,46,40,0,NaN,19.0,19.0,4,0,0,0,...,0,NaN,0,0,3,1,1,0.0,1.0,0
49,49,101,0,NaN,15.0,15.0,8,0,0,0,...,1,32.0,0,0,56,1,1,1.0,7.0,0
52,52,95,0,NaN,NaN,17.0,3,0,0,0,...,0,5.0,0,0,12,1,1,1.0,3.0,0
53,53,34,0,NaN,15.0,15.0,4,1,0,0,...,0,0.0,0,0,3,1,1,NaN,NaN,0
56,56,13,0,NaN,13.0,13.0,2,0,0,0,...,0,0.0,0,0,3,1,1,0.0,NaN,0
59,59,39,1,NaN,29.0,29.0,4,0,0,0,...,0,2.0,0,0,36,1,1,1.0,15.0,0
60,60,34,0,NaN,12.0,NaN,2,0,0,0,...,0,0.0,0,0,4,1,1,1.0,NaN,0
62,62,38,0,NaN,21.0,21.0,3,0,0,0,...,0,0.0,0,0,4,1,1,0.0,0.0,0
74,74,33,2,NaN,NaN,NaN,1,0,0,0,...,0,24.0,0,0,222,1,1,4.0,137.0,0
77,77,37,0,NaN,18.0,NaN,2,0,0,0,...,0,NaN,1,1,60,1,1,0.0,145.0,0
82,82,32,1,NaN,22.0,22.0,2,0,0,0,...,0,2.0,0,0,70,1,1,1.0,13.0,0
88,88,31,0,NaN,17.0,17.0,2,0,0,0,...,0,NaN,0,0,39,1,1,3.0,62.0,0
89,89,51,0,NaN,14.0,14.0,3,3,0,0,...,0,NaN,0,0,0,1,1,0.0,NaN,0
108,108,70,0,NaN,NaN,18.0,1,0,0,0,...,0,22.0,0,0,112,1,1,1.0,28.0,0
115,115,34,0,NaN,13.0,13.0,3,0,0,0,...,2,NaN,0,0,85,1,1,1.0,NaN,0
122,122,85,0,NaN,13.0,13.0,3,0,0,0,...,2,NaN,0,0,16,1,1,1.0,35.0,0
124,124,25,0,NaN,17.0,17.0,2,0,0,0,...,0,11.0,0,0,40,1,1,2.0,5874.0,0
127,127,32,0,NaN,NaN,NaN,3,0,0,0,...,0,2.0,0,0,27,1,1,1.0,NaN,0
129,129,96,0,NaN,23.0,23.0,6,0,0,0,...,0,5.0,0,0,18,1,1,1.0,3.0,0
131,131,34,0,NaN,10.0,10.0,1,0,0,0,...,0,17.0,0,0,175,1,1,2.0,89.0,0
133,133,55,0,NaN,NaN,23.0,2,0,0,0,...,1,8.0,1,1,41,1,1,1.0,72.0,0
137,137,17,0,NaN,13.0,13.0,1,0,0,0,...,0,7.0,0,0,6,1,1,0.0,0.0,0

- 보간법(interpolate)을 사용해서 결측치를 조치해보자.

In [19]:
#data2 = data.interpolate(method='spline', order=2)

In [20]:
#data3 = data.interpolate(method='polynomial', order=2)

In [100]:
data2 = data.interpolate(method='linear')

In [102]:
data3 = data.fillna(data.median())

In [28]:
model = joblib.load('./XGB_model.pkl')

In [65]:
model2 = joblib.load('./XGB_model2.pkl')

In [60]:
col = ['Unnamed: 0',
    'url_len',
 'url_query_len',
 'url_num_query_para',
'url_chinese_present',
       'url_port',
       "html_num_tags('applet')",
 'url_entropy',
 "html_num_tags('iframe')",
 "html_num_tags('head')",
 "html_num_tags('body')"]

col2 = ['Unnamed: 0', 'url_chinese_present',  "html_num_tags('applet')"]

In [108]:
test_data1 = data4.drop(col2, axis=1) # (2441, 21)

In [115]:
test_data1_1 = data2.drop(col2, axis=1)

In [110]:
test_data2 = data2.drop(col, axis=1)

In [111]:
test_data3 = data4.drop(col, axis=1)

In [37]:
test_data.shape

(2441, 13)

In [62]:
test_data1.shape

(2441, 21)

In [38]:
test_data.head()

,url_num_hyphens_dom,url_path_len,url_domain_len,url_hostname_len,url_num_dots,url_num_underscores,url_ip_present,html_num_tags('script'),html_num_tags('embed'),html_num_tags('object'),html_num_tags('div'),html_num_tags('form'),html_num_tags('a')
0,0,80.0,17.0,17.0,4,0,0,5.00,0,0,12,1.0,3.0
1,0,22.0,15.0,15.0,3,1,0,5.50,0,0,158,0.5,69.5
2,0,18.0,20.0,20.0,3,3,0,6.00,3,3,34,0.0,136.0
3,0,14.0,26.0,26.0,2,0,0,4.75,0,0,29,1.0,2.0
4,2,7.5,26.0,26.0,2,0,0,3.50,0,0,41,1.0,10.0

In [39]:
pred = model.predict(test_data)

In [42]:
pred_df = pd.DataFrame(pred)

In [43]:
pred_df.replace({0:-1}, inplace=True)

In [44]:
pred_df.index

RangeIndex(start=0, stop=2441, step=1)

In [46]:
result = pd.DataFrame({'id' : range(2441), 'expected': list(pred)})

In [106]:
pred1_1 = model.predict(test_data1)
pred1_1 = pd.DataFrame(pred1_1).replace({0:-1}, inplace=True)
result = pd.DataFrame({'id' : range(2441), 'expected': list(pred)})
result.to_csv('result_v1_1.csv', index=False)

In [107]:
def make_result(model, data, name):
    pred = model.predict(data)
    pred = pd.DataFrame(pred).replace({0:-1}, inplace=True)
    result = pd.DataFrame({'id' : range(2441), 'expected': list(pred)})
    result.to_csv(name, index=False)

In [47]:
result.isna().sum()

id          0
expected    0
dtype: int64

In [48]:
result.head()

   id  expected
0   0        -1
1   1         1
2   2         1
3   3        -1
4   4        -1

In [49]:
result.tail

<bound method NDFrame.tail of         id  expected
0        0        -1
1        1         1
2        2         1
3        3        -1
4        4        -1
...    ...       ...
2436  2436         1
2437  2437        -1
2438  2438        -1
2439  2439        -1
2440  2440        -1

[2441 rows x 2 columns]>

In [55]:
result.to_csv('result_v1.csv')

In [58]:
r_result = pd.read_csv('result_v1.csv')

In [59]:
r_result.head()

   id  expected
0   0        -1
1   1         1
2   2         1
3   3        -1
4   4        -1

In [66]:
pred2 = model2.predict(test_data1)

In [112]:
make_result(model2, test_data2, 'result_v2_1.csv')

ValueError: Feature shape mismatch, expected: 21, got 13

In [67]:
pred2

array([0, 0, 1, ..., 1, 0, 1])

In [68]:
pred_df2 = pd.DataFrame(pred2).replace({0:-1}, inplace=True)
pred2

array([-1, -1,  1, ...,  1, -1,  1])

In [75]:
result2 = pd.DataFrame({'id' : range(2441), 'expected': list(pred2)})
result2.to_csv('result_v2.csv')

In [93]:
model3 = joblib.load('./RF_model.pkl')
col3 = ['url_hostname_len','url_path_len','url_query_len',"html_num_tags('a')","html_num_tags('body')","html_num_tags('form')",'url_num_underscores']
test_data2 = data.loc[:, col3]

In [94]:
pred3 = model3.predict(test_data2)
pred_df3 = pd.DataFrame(pred3).replace({0:-1}, inplace=True)
pred3

array([-1,  1,  1, ...,  1, -1, -1], dtype=int64)

In [95]:
result3 = pd.DataFrame({'id' : range(2441), 'expected': list(pred3)})
result3.to_csv('result_v3.csv', index=False)

In [96]:
test_data2.head()

,url_hostname_len,url_path_len,url_query_len,html_num_tags('a'),html_num_tags('body'),html_num_tags('form'),url_num_underscores
0,17.0,80.0,0,3.0,1,1.0,0
1,15.0,22.0,0,69.5,1,0.5,1
2,20.0,18.0,0,136.0,1,0.0,3
3,26.0,14.0,0,2.0,1,1.0,0
4,26.0,7.5,0,10.0,1,1.0,0

In [97]:
model4 = joblib.load('./XGB_model3.pkl')
pred4 = model4.predict(test_data2)
pred4 = pd.DataFrame(pred4).replace({0:-1}, inplace=True)
result4 = pd.DataFrame({'id' : range(2441), 'expected': list(pred4)})
result4.to_csv('result_v4.csv', index=False)